/* 
 * Styles for line-by-line translation, to enable showing 
 * or not showing the translated text. 
 */

 /*
    color palette:
    $indigo-dye: #0e3f6cff;
    $terra-cotta: #e8715eff;
    $turquoise-green: #91c7b1ff;
    $jasmine: #fede86ff;
    $black-olive: #413f39ff;
 */

 /* global settings ------------------------- */

 /* boiler-plate box-sizing fix */
 html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

 a:visited {
     color: #0e3f6cff;
 }

head {
    font-family: "Avant Garde", Avantgarde, CenturyGothic, sans-serif;
}

/* header section ------------------------------ */

header {
    font-family: "Avant Garde", Avantgarde, CenturyGothic, sans-serif;
}

header h1 {
    font-weight: 900;
}

header h2 {
    font-weight: 200;
}

header h1, header h2 {
    background: #91c7b1ff;
    padding: 5px;
    border-radius: 5px;
}

.instructions {
    font-weight: 100;
    font-style: oblique;
}

.nav {
    font-style: italic;
}

.nav a {
    /* makes click target larger */
    padding: 10px 0;
}

/* body section ----------------------------------- */

body {
    font-family: "Avant Garde", Avantgarde, CenturyGothic, sans-serif;
    background-color: #FEDE86;
    padding-left: 10%; 
    padding-right: 2%;
}

.text-title {
    text-align: center;
}

h1, h2, h3 { 
    font-family: "Avant Garde", Avantgarde, CenturyGothic, sans-serif;
}

em {
    font-weight: 600;
}

footer {
    font-size: .8em;
    font-style: italic;
}

/* translation section ----------------------- */

.translation {
    background: #fff4d7;
    padding: 10px;
    border-radius: 5px;
    line-height: 180%;
}

.targ { color: #413f39ff; display: inline; }
.en { color: #0e3f6cff;; display: inline; }

.chunk {
   display: inline-flex;
    flex-direction: column;
}

.targ.translated, .targ:active {
    border-radius: 3px;
    border: 2px solid #0e3f6cff;
    padding-left: 3px;
}

.targ:hover, .targ:focus {
     background: #91c7b1ff;
}

/* Class to toggle to reveal and hide a version
 */
div.hide { 
    display: none;
}
