<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Parallel text presentation of 
        {{ dom_description }}.">
        <!-- need meta for display -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ dom_title }}</title>
        <!-- This is a magical incantation for a font set -->
        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500|Open+Sans&display=swap" 
        rel="stylesheet">
        <!-- relative link to css styles -->
        <link rel="stylesheet" href="../static/css/styles.css">
        <script src="../static/js/togglehide.js"></script>
    </head>
    <body>
        <main>
            <header>    
                <h1>Parallel Peeks</h1>
                <h2>A language study tool using parallel texts</h2>
                <p class="nav" role="navigation">Back to <a href="index.html">main page</a></p>
                <h4 class="instructions">Hover your mouse over or tab to a selection, and click or press Enter to reveal the
                English translation.</h4>
            </header>
            <h3 class="text-title">{{ title }}</h3>
            <footer>{{ metadata }}</footer>
            <br/>

            <!-- This is the crux move -->
            <!-- Documentation for 2nd loop: https://jinja.palletsprojects.com/en/2.11.x/templates/#for -->
            <!-- extra commenting to prevent inserted space: https://css-tricks.com/fighting-the-space-between-inline-block-elements/ -->
            <div class="translation" role="main">
                {% for index in original_chunks%}
                <div class="chunk">
                    <div class="targ" lang="unknown" tabindex=0>{{index}}</div>
                    <div class="en hide">{{translation_chunks[loop.index0]}}</div>
                </div>
                {% endfor %}
                
            </div> <!-- translation-->
        </main>
    </body>
</html>